*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    background-color: blueviolet;
    margin: 0;
    padding: 2rem;
}

.container{
    max-width: 500px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    background-color: rgb(172, 135, 135);

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1{
    color: aqua;
    text-align: center;
    margin-bottom: 1rem;
}

button{
    width: 100%;
   background-color: aqua;
   color: blueviolet;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
    padding: 0.75rem;
    border-radius: 6px;
    cursor: pointer;
}

#noteInput{
    background-color: rgb(222, 231, 96);
     width: 100%;
  min-height: 120px;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: vertical;
  margin-bottom: 1rem;
}

#noteInput:focus{
    outline: none;
    border-color: #4f46e5;
}